.hero {
  height: calc(100vh - 50px);
  background-image: url("../../../public/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.holiday {
  display: flex;
  height: auto;
  padding: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}
.container {
  width: 40rem;
  height: 40rem;
  background: #fff;
  padding: 1rem;
}
.top {
  display: flex;
  color: var(--bg);
  justify-content: space-between;
  align-items: center; 
}
.top > h3 {
  font-weight: 600;
  font-size: 2rem;
}
.inputform {
  margin: 1rem;
  color: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .holiday{
    display: none;
  }
  .container {
    margin-left: -2.3rem;
    width: 98vw;
  }
  .top > h3 {
    font-weight: 600;
    font-size: 1rem;
  }
}