@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #020c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
  color: var(--text);
}

.container {
  width: 98vw;
  padding: 0.5rem;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.glass {
  background-color: rgb(2, 12, 34, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(13px);
}
.icon {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  border: 2px solid rgb(59 130 246);
}
.icon:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #1d2184, #bd17ff);
}
.progress-bar {
  height: 0.4rem;
  background: rgb(59 130 246);
  transform-origin: 0%;
}
.driver-popover.driverjs-theme {
  background-color: #020c22;
  color: #fff;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: #fff;
}

.driver-popover.driverjs-theme button {
  flex: 1;
  text-align: center;
  background-color: #302e2e;
  color: #3673fd;
  border: 2px solid #000;
  text-shadow: none;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 6px;
}

.driver-popover.driverjs-theme button:hover {
  background-color: #000;
  color: #ffffff;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 3px;
}

.shimmer {
  position: relative;
  background: #3a3a3a;
  background-image: linear-gradient(
    to right,
    #3a3a3a 0%,
    #3f3f3f 10%,
    #4a4a4a 20%,
    #3f3f3f 30%,
    #3a3a3a 50%,
    #3a3a3a 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 200px;

  /* Animantion */
  -webkit-animation-duration: 1s;

  /* Specifies style for element when animation isn't playing */
  -webkit-animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

#container {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#square {
  width: 150px;
  height: 150px;
}

#content {
  flex: 1;
  height: 150px;
  width: 100%;
  padding: 0.5rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#title {
  width: 100%;
  height: 30px;
  margin-bottom: 1rem;
}

#desc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.line {
  width: 100%;
  height: 10px;
}
@media screen and (max-width: 768px) {
  .icon {
    height: 3rem;
    width: 3rem;
  }
}
