.link{
    display: flex;
    gap: 2rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
}
.active{
    background-color: var(--text);
    color: var(--bg);
    border-radius: 0.8rem;
    padding: 0.3rem 0.5rem;
    font-weight: 700;
}
.btn{
    box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.2em 0.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;
}
.btn:hover {
      box-shadow: 0 0 40px 40px #e74c3c inset;
      color: #fff;
      outline: 0;
      font-weight: 600;
    }